body {
background-color: EEEEEE;

}

#header {
background-color: #66CCFF;
  text-align: center;
}

#container {
  background-color: white;
  width 800px;
  margin-right auto;
  margin-left auto;
}

#main {
padding: 10px 10px 10px 10px;

}
