body {
background-color: EEEEEE;
  font-family: Helvetica, Arial, sans-serif;

}

#header {
background-color: #66CCFF;
  text-align: center;
  font-size: 32px;
}

#container {
  background-color: white;
  width 800px;
  margin-right auto;
  margin-left auto;
}

#content {
padding: 10px 10px 10px 10px;

}

#nav {
 width 180px;
 float: left;
 background-color: lightgray;
 border-style: solid;

}

#main {
  width: 600px;
  float: right;
}

#footer {
  clear: both;
  padding 10px;
  background-color: #999999;
  text-color: white;
  text-align: right;
}

.selected {
  font-weight: bold;
}
  
h1, h2 {
margin 0;
}

a {
text-decoration: none;
  text-color: red;
}

#nav ul {
list-style-type: none;
  padding 0;

}

#news {
text-decoration: bold;
}
